body{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: auto;
    box-shadow: 2px 3px 5px #ccc;
}

.header-f{
    width: 1500px;
    margin: auto;
}
.logo{
    float: left;
}
.logo h2{
    font-size: 24px;

}
.nav{
    float: right;
}

.nav ul li{
    list-style: none;
    float: left;
    width: 120px;
    text-align: center;
}

.nav ul li a{
    text-decoration: none;
    color: #444;
}
.nav ul li a:hover{
    color: darkblue;
}
.banner{
    width: 1200px;
    height: 320px;
    margin: 10px auto;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.banner ul li{
    list-style: none;
    float: left;
    width: 580px;
    text-align: center;
}
.cities {
    background-color:lightsteelblue;
    color:white;
    margin:40px;
    padding:40px;
}
.cities h2{
    color: black;
}
.new{
    background-color:white;
    color:black;
    margin:40px;
    padding:40px;

}
