{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一往职前官网</title>
    <link rel="stylesheet" type="text/css" href="../../static/polls/cs.css">
</head>

<body>
<div class="header">
    <div class="header-f">
    <div class="logo">
        <h2 align="center"><img src="../../static/polls/images/dark-logo.png" width="145" height="40" align="left"/>
        <img src="../../static/polls/images/Logo1.jpg" width="50" height="50" align="left"/>
        </h2>
    </div>
    <div class="nav">
        <ul>
            <li>
                <a href="index.html">主页</a>
            </li>
            <li>
                <a href="index.html">测试</a>
            </li>
            <li>
                <a href="index.html">课程</a>
            </li>
            <li>
                <a href="index.html">论坛</a>
            </li>
            <li>
                <a href="index.html">学习</a>
            </li>
            <li>
                <a href="index.html">登录</a>
            </li>
        </ul>

    </div>
    </div>
</h2>
</div>

<div class="cities">
    <h2>介绍</h2>
    <p>大学是人生中最宝贵的时光，更是职业生涯的重要准备期。本课程帮助大学生规划未来发展，掌握自我探索、职业探索、生涯决策方法，提高求职技巧，培养职业素质，提升生涯管理能力。有助于提高大学生的就业竞争力，帮助其科学选择职业发展道路，进而在未来的职业生涯中获得成功。</p>

</div>

<div class="banner">
    <ul>
        <li>
            <img src="../../static/polls/images/blog1.jpg" alt="">
        </li>
        <li>
            <img src="../../static/polls/images/blog2.jpg" alt="">
        </li>
        <li>
            <img src="../../static/polls/images/blog3.jpg" alt="">
        </li>
        <li>
            <img src="../../static/polls/images/blog4.jpg" alt="">
        </li>
    </ul>
</div>
</body>
</html>